  <!-- about section -->
<section class="about_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                About Showroom
            </h2>
            <hr>
        </div>
        <div>
            <p>

                Welcome to our vehicle showroom management system! At our core, we are dedicated to revolutionizing the automotive retail experience. Our commitment lies in providing seamless solutions that empower dealerships to streamline operations, enhance customer experiences, and drive success in the dynamic automotive industry.

                With a blend of cutting-edge technology and unparalleled customer service, we aim to be the driving force behind your dealership's efficiency and profitability. Our comprehensive suite of tools is designed to simplify inventory management, optimize sales processes, and foster lasting relationships with your clientele.

                Backed by a team of industry experts and fueled by innovation, we continually strive to push the boundaries of what's possible in vehicle showroom management. Whether you're a small independent dealership or a large automotive enterprise, we're here to support your growth and help you stay ahead in today's competitive market.

                Thank you for choosing our vehicle showroom management system. Together, let's accelerate towards excellence.
            </p>
        </div>

    </div>
</section>


<!-- end about section -->
<!-- info section -->

<section class="info_section ">
    <div class="d-flex justify-content-center">
        <div class="social_container">

            <div class="number-box">
                <a href="">
                    <img src="~/images/phone.png" alt="">
                    <h6>
                        +01 123567894
                    </h6>
                </a>
            </div>
            <div class="mail-box">
                <a href="">
                    <img src="~/images/mail.png" alt="">
                    <h6>
                        demo@gmail
                    </h6>
                </a>
            </div>
            <div class="social-box">
                <div class="box">
                    <a href="">
                        <img src="~/images/facebook-logo.png" alt="">
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="~/images/twitter.png" alt="">
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="~/images/linkedin.png" alt="">
                    </a>
                </div>
                <div class="box">
                    <a href="">
                        <img src="~/images/instagram-logo.png" alt="">
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="container layout_padding2 mobile_padding-top-none ">
        <div class="row">
            <div class="col-md-3">
                <h5>
                    Contact Info
                </h5>
                <p>
                    Our dedicated team is here to address any questions you may have and provide personalized support to optimize your dealership's operations. We look forward to hearing from you soon!
                </p>
            </div>
            <div class="col-md-3">
                <h5>
                    open hours
                </h5>
                <p>
                    Monday 10:00 am to 08:00 pm <br>
                    Sunday : Off <br>
                    Monday 10:00 am to 08:00 pm <br>
                    Monday 10:00 am to 08:00 pm <br>
                    Monday 10:00 am to 08:00 pm
                </p>

            </div>
            <div class="col-md-3">
                <h5>

                    Useful link
                </h5>
                <ul>
                    <li>
                        <a href="">
                            There are many
                        </a>
                    </li>
                    <li>
                        <a href="">
                            variations of
                        </a>
                    </li>
                    <li>
                        <a href="">
                            passages of Lorem
                        </a>
                    </li>
                    <li>
                        <a href="">
                            Ipsum available,
                        </a>
                    </li>
                    <li>
                        <a href="">
                            but the injected
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">

                <div class="subscribe_container">
                    <h5>
                        Newsletter
                    </h5>
                    <div class="form_container">
                        <form action="">
                            <input type="email" placeholder="Enter your email">
                            <button type="submit">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- end info section -->